<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<connectionStrings>
		<add name="MySQLDB" connectionString="server=titansreallyrule.info;
			user=user; password=sql_pass;database=db;port=3306" />
	</connectionStrings>
</configuration>